*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contenido-main {
  min-height: 100vh;
  color: #FDC010;
  
}

.container-fluid {
  color: #FDC010;
  img{
    width: 140px;
  }
}

.bg-personalizado {
 font-size: 1.1em;
 color: #FDC010;
 background: rgb(2,0,36);
 background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgb(3, 162, 193) 100%);
}

.nav-link {
  color: #FDC010;
}

.section-footer {
  img {
    width: 200px;
  }
}

.navbar-nav {
  img {
    transition: all .5s;
    width: 50px;
    padding: 7px;
  }
  img:hover{
    width: 70px;
  }
}

/* Suscripcion */

.btn-suscripcion {
  
}


/* Slider */

.carousel img {
  height: 700px;
  width: 100%;
  object-fit: cover;
}

/* copy */
 
.copy {
  width: 100%;
  padding: 10px;
  text-align: center;
  background-color: #FDC010
}

/* cards y publiciad */
.btn {
 color: rgb(62, 62, 187);
 background-color: #FDC010;
  
}
.card-publicidad {
 background-color: #FDC010;
}

.borde-cards {
 background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgb(3, 162, 193) 100%);
}

/*Sobre Nosotros*/

.bannerNosotros {
    height: 800px;
    object-fit:cover
    }  
  
.backsn{
  color: #FDC010;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgb(3, 162, 193) 100%);
}
  .cardNosotros{
    border: none;
    max-width: 250px;
  }

.imgNosotros{
    border-radius: 80%;
    filter: grayscale(30%);
    
  }
  .cardNosotros:hover{
    color: rgb(39, 46, 146);
    transition: all 3ms;
  }

/*estilos dentro de login bad boys*/
.columx3-video{
   video{
    width: 100%;
  }
}
.badboys{
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgb(3, 162, 193) 100%);
 a{
  text-decoration: none;
  color: rgb(215, 170, 81);
 }
 p{
  color: lemonchiffon;
  text-transform: capitalize;
 }
 span{
  color: aquamarine;
 }
}

.description{
  height: 320px;
  border: 1px solid #a42121;
  overflow: hidden;
  overflow-y: auto;
  p:hover{
    transition: all .5s;
    color: rgb(206, 217, 55);
    font-size: 1.1em;
  }
  &::-webkit-scrollbar{
    scroll-behavior: smooth;
  }
}
.text{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  transition: all .5s;
}
.description:hover .text{
  width: 100%;
  white-space: normal;
  text-overflow: unset;
  overflow: visible;
}
.tituloh5{
  font-size: 1em;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
  &:hover{
    padding-left: 5px;
    background-color: rgb(30, 129, 129);
    color: rgb(107, 31, 31);
  }
}
/*damos estilos a los textos de la galeria de imagenes*/
.textocard{
  height: 30px;
  overflow-y: hidden;
  padding: 5%;
  background-color: black;
  transition: all .5s;
  font-size: .7em;
  color: rgb(69, 69, 112);
  font-weight: bolder;
  border: 2px double red;
  border-radius: 3px;
}
.textocard:hover{
  height: 300px;
  color: white;

}


/* Login */

.main-login { 
  color: rgb(5, 5, 147);
  background-color: #FDC010;
  img {
    width: 65px;
    padding: 10px;
  }
}

.iniciar-sesion-imagen {
  img {
    width: 680px;
  }
}

/*Contacto*/

.main_contacto {
  background-color: #FDC010;
}

.titulo {
color: rgb(5, 5, 147)

}


.textarea_contenido{
  color: blanchedalmond;
  text-align: center;
  background: linear-gradient(90deg, rgb(83, 80, 127) 0%, rgb(0, 0, 88) 35%, rgb(4, 75, 90) 100%);
  width: 400px;
  border-radius: 10px;
  padding: 7px;
}

.formulario label {
    color: blue;
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
   }

   .formulario input {
    color: blanchedalmond;
    height:35px;
    width: 400px;
    border-radius: 10px;
    padding: 7px;
    background: linear-gradient(90deg, rgba(10, 3, 139, 0.735) 0%, rgba(9,9,121,1) 35%, rgb(3, 162, 193) 100%);
   }

   .formulario button {
    color: blanchedalmond;
    width: 100px;
    height: 35px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgb(3, 162, 193) 100%);
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
    
   }
  .formulario a {
    text-decoration: none;
    color: rgba(43, 0, 255, 0.838);
  }

  .iframe {
    margin-bottom: 20px;
  }

/*Pagina error 404*/

.pagina-404-img {
  width: 100%;
  border-radius: 50%;
  height: auto;
}

.main404 {
  
  display: flex;
  flex-direction: column;
}
