*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contenido-main {
  min-height: 100vh;
}



.container-fluid {
  img{
    width: 130px;
  }
}

.bg-personalizado {
 font-size: 19px;
 color: #FDC010;
 background: rgb(2,0,36);
 background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgb(3, 162, 193) 100%);
}

.nav-link {
  color: #FDC010;
}


.section-footer {
  img {
    width: 200px;
  }
}

.navbar-nav {
  img {
    width: 65px;
    padding: 7px;
  }
}

/* Slider */

.carousel img {
  height: 700px;
  width: 100%;
  object-fit: cover;
}
 
.copy {
  width: 100%;
  padding: 10px;
  text-align: center;
  background-color: #FDC01feature/sobre_nosotros

/*Sobre Nosotros*/

.bannerNosotros{
    height: 800px;
    object-fit:cover;
   
  }
.backsn{
  color: #FDC010;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgb(3, 162, 193) 100%);
}
  .cardNosotros{
    border: none;
    max-width: 250px;
  }

.imgNosotros{
    border-radius: 80%;
    filter: grayscale(30%);
    
  }
  .cardNosotros:hover{
    color: rgb(39, 46, 146);
    transition: all 3ms;
  }

/*estilos dentro de login bad boys*/
.columx3-video{
   video{
    width: 100%;
  }
}
.badboys{
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgb(3, 162, 193) 100%);
 a{
  text-decoration: none;
  color: rgb(215, 170, 81);
 }
 p{
  color: lemonchiffon;
  text-transform: capitalize;
 }
 span{
  color: aquamarine;
 }
}

.description{
  width: 50%;
  height: 300px;
  border: 1px solid #ccc;
  padding: 10px;
  overflow: hidden;
  overflow-y: auto;
  p:hover{
    transition: all .5s;
    color: rgb(206, 217, 55);
    font-size: 1.1em;
  }
}



.description::-webkit-scrollbar{
  scroll-behavior: smooth;
}

.text{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
   transition: all .5s;
}



.description:hover .text{
  width: 100%;
  white-space: normal;
  text-overflow: unset;
  overflow: visible;
}
/*damos estilos a los textos de la galeria de imagenes*/
.textocard{
  height: 30px;
  overflow-y: hidden;
  padding: 5%;
  background-color: black;
  transition: all .5s;
  font-size: .7em;
  color: rgb(69, 69, 112);
  font-weight: bolder;
  display: none;
  border: 2px double red;
  border-radius: 3px;
}
.textocard:hover{
  height: 300px;
  color: white;

}
dev
